@model LibraryApp.Application.DTOs.CreateBookDto

<h2>Add Book</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Title</label>
        <input asp-for="Title" />
    </div>

    <div>
        <label>Author</label>
        <input asp-for="Author" />
    </div>

    <div>
        <label>Year</label>
        <input asp-for="Year" />
    </div>

    <div>
        <label>ISBN</label>
        <input asp-for="ISBN" />
    </div>

    <div>
        <label>Copies</label>
        <input asp-for="Copies" />
    </div>

    <button type="submit">Save</button>
</form>